@{
    ViewData["Title"] = "New Dish";
}
@model Dish

<div class="text-center">
    <h1>Add a Dish!</h1>
</div>

<form class="my-2 form-group row" asp-action="CreateDish" asp-controller="Home" method="POST">
    <div class="my-2 col-sm">

        <label class="form-label" for="Name">Name</label>
        <input class="form-control form-control-lg" asp-for="Name">
        <span class="text-danger" asp-validation-for="Name"></span>

        <label class="mt-2 form-label" for="ChefId">Chef</label>
        <select class="form-control form-control-lg" asp-for="ChefId">
            @foreach(var chef in ViewBag.ListOfChefs)
            {
            <option value="@chef.ChefId">@chef.FirstName @chef.LastName</option>
            }
        </select>
        <span class="text-danger" asp-validation-for="ChefId"></span>

        <label class="mt-2 form-label" for="Calories"># of Calories</label>
        <input class="form-control form-control-lg" asp-for="Calories">
        <span class="text-danger" asp-validation-for="Calories"></span>
    </div>

    <div class="my-2 col-sm">
        <label class="form-label" for="Tastiness">Tastiness</label>
        <input class="form-control form-control-lg" asp-for="Tastiness">
        <span class="text-danger" asp-validation-for="Tastiness"></span>
    </div>

    <div class="my-2 col-sm">
        <label class="form-label" for="Description">Description</label>
        <textarea class="form-control form-control-lg" rows="3" asp-for="Description"></textarea>
        <span class="text-danger" asp-validation-for="Description"></span>

        <button class="mt-4 btn btn-primary btn-lg btn-block">Add Dish</button>
    </div>
</form>